* {
  box-sizing: border-box;
}

body {
  background-color: #50533c;
}

.container {
  width: 900px;
  margin: 10px auto;
  padding: auto;
}

.header {
  background-image: url(../assets/images/placa.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.header__img {
  height: 200px;
  align-self: flex-end;
}
.h1 {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5rem;
  text-shadow: 4px 4px 10px red;
}
.main {
  background-image: url(../assets/images/senializacion.jpg);
  padding: 15px;
}
.section {
  background-image: url(../assets/images/mimetizadoDesert.png);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* BUTTON GAME CSS */
.button {
  color: #000;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}
.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
.button:disabled {
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  top: 0px;
  left: 0px;
}
/*FIN BUTTON CLASS*/

.marcador {
  background-color: #a1a1a0;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  font-family: "Courier New", Courier, monospace;
  font-variant: small-caps;
  font-size: 2rem;
  font-weight: 600;
}
.marcador__button {
  height: 75px;
  padding: 15px;
  background-color: #442f29;
  color: white;
  border-radius: 1rem;
  font-family: "Courier New", Courier, monospace;
  font-variant: small-caps;
}

.bandera{
  background-image: url(../assets/images/bandera.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.rojo{
  background-color: red;
  background-image: url(../assets/images/explosion.png);
}
.otra{
  background-color: red;
  
}